/* anuncio  */
.componente-anuncios {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  overflow-y: scroll;
}

.card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
  padding: 15px 40px;
  /* max-width: 600px; */
  /* margin: 0 24px 0 40px; */
  /* margin: auto; */
}

.card-header {
  display: flex;
  align-items: center; 
  gap: 15px;
  justify-content: space-between;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-info {
  flex-grow: 1;
}

.user-info p {
  margin: 0;
  font-weight: 600;
}

.user-info span {
  color: #777;
  font-size: 14px;
}

.category-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.category {
  background-color: var(--verde);
  color: var(--blanco);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.elipsis {
  display: flex;
    justify-items: center;
    align-items: center;
    width: 5px;
    /* height: 20px; */
    fill: black;
}

.card-body p {
  margin: 20px 0;
  line-height: 1.5;
  color: #333;
}

.image-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding-bottom: 10px;
}

.image-row img {
  width: 100%;
  aspect-ratio: 16 / 9; /* Puedes ajustar a 4/3 o quitar si prefieres */
  object-fit: cover;
  border-radius: 10px;
}