:root {
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 100px;
  --azul: #1C1F4C;
  --verde: #00848B;
  --amarillo: #FCAB14;
  --gris: #f1f1f1;
  --blanco: #F9F9F9;
  --hover-color: #2e326b;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--gris);
}

.content {
  display: flex;
  min-height: 100vh;
}

/* menu-lateral */
.menu-lateral {
  background: var(--blanco);
  color: var(--azul);
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.menu-lateral h2 {
  font-size: 18px;
  margin: 0;
}

.menu-lateral p {
  font-size: 12px;
  margin: 0 0 1rem 0;
}

.btn {
  background: white;
  color: #1c1f4c;
  border: none;
  width: 100%;
  padding: 20px;
  margin: 0.3rem 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background: var(--gris);
  color: var(--azul);
  transform: scale(105%);
}

.btn.active {
  background: #f8a71b;
  color: white;
}

/* Main content */
.main-content {
    overflow-y: scroll;
  flex: 1;
  padding: 2rem;
  gap: 15px;
    display: flex;
    flex-direction: column;
}

.main-content h1 {
  color: #1c1f4c;
  font-size: 22px;
  margin-bottom: 1rem;
}

/* anuncio  */
.card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
  padding: 15px 40px;
  /* max-width: 600px; */
  /* margin: 0 24px 0 40px; */
  /* margin: auto; */
}

.card-header {
  display: flex;
  align-items: center; 
  gap: 15px;
  justify-content: space-between;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-info {
  flex-grow: 1;
}

.user-info p {
  margin: 0;
  font-weight: 600;
}

.user-info span {
  color: #777;
  font-size: 14px;
}

.category-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.category {
  background-color: var(--verde);
  color: var(--blanco);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.elipsis {
  display: flex;
    justify-items: center;
    align-items: center;
    width: 5px;
    /* height: 20px; */
    fill: black;
}

.card-body p {
  margin: 20px 0;
  line-height: 1.5;
  color: #333;
}

.image-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding-bottom: 10px;
}

.image-row img {
  width: 100%;
  aspect-ratio: 16 / 9; /* Puedes ajustar a 4/3 o quitar si prefieres */
  object-fit: cover;
  border-radius: 10px;
}