:root {
    --sidebar-width: 250px;
    --sidebar-collapsed-width: 100px;
    --azul: #1C1F4C;
    --verde: #00848B;
    --amarillo: #FCAB14;
    --gris: #EDEDED;
    --blanco: #F9F9F9;
    --hover-color: #2e326b;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F9F9F9;
    margin: 0;
}

#abrirVentanaBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--verde);
    color: #F9F9F9;
    border: none;
    border-radius: 5px;
}

.capa-emergente {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Contenido de la ventana emergente */
.contenido-emergente {
    background-color:#F9F9F9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    position: relative;
    box-sizing: border-box;
}

.contenido-emergente h2 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--azul);
    font-size: 24px;
}

.cerrar-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: var(--azul);
}

.cerrar-btn:hover {
    color:var(--hover-color);
}

.grupo-formulario {
    margin-bottom: 20px;
}

.grupo-formulario label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color:var(--azul);
}

.grupo-formulario input[type="text"],
.grupo-formulario input[type="number"],
.grupo-formulario textarea {
    width: calc(100% - 20px); /* Ajuste para el padding */
    padding: 12px 10px;
    border: 1px solid var(--gris);
    border-radius: 5px;
    background-color: #EDEDED;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.grupo-formulario input:focus,
.grupo-formulario textarea:focus {
    border-color:var(--azul);
}

.grupo-formulario textarea {
    resize: none;
    min-height: 100px;
}

.placeholder-subida-imagen {
    border: 2px dashed var(--gris);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #EDEDED;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.placeholder-subida-imagen input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.placeholder-subida-imagen p {
    margin: 0;
    color: var(--azul);
    font-size: 14px;
}

.btn-enviar {
    width: 100%;
    padding: 15px;
    background-color: #FCAB14;
    color: #F9F9F9;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
    .contenido-emergente {
        padding: 20px;
    }

    .contenido-emergente h2 {
        font-size: 20px;
    }

    .grupo-formulario input,
    .grupo-formulario textarea {
        font-size: 14px;
    }

    .btn-enviar {
        font-size: 16px;
        padding: 12px;
    }
}