/* variables */
:root {
  --azul: #1C1F4C;
  --verde: #00848B;
  --amarillo: #FCAB14;
  --gris: #f1f1f1;
  --blanco: #fdfdfd;
  --hover-color: #2e326b;
}

/* fuentes */
@font-face{
    font-family: 'Montserrat';
    src: url('../assets/fonts/static/Montserrat-Medium.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat-bold';
    src: url(../assets/fonts/static/Montserrat-Bold.ttf);
}

/* estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

/* Estilos generales de .dashboard */
.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--gris);
}

/* seccion 1 izquierda */

.section1{
    /* background-color: violet; */
    height: 100vh;
    width: 66.66%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* crear anuncio y noticia */
.crear {
    height: 25%;
}

.anuncios {
    height: 75%;
}

.content{
  padding: 20px;
  background: var(--gris);
}

.bienvenida {
    /* background-color: lightyellow; */
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    /* font-weight: 800; */
}

.btn-filtrar {
    background-color: #00848B;
    color: var(--blanco);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 800;
}

.btn-filtrar:hover {
    background-color: #007379;
    transform: scale(105%);
}

.crear-anuncio {
    /* background-color: lightpink; */
    height: 60%;
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    font-weight: 100;
}

.card-crear-anuncio{
    width: 100%;
    margin: 0px 40px;
    background-color: var(--blanco);
    border-radius: 10px;
    padding: 10px 40px;
    /* margin: 10px; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    gap: 20px;
}

/* anuncios  */

.anuncios {
/* background: #000; */
overflow-y: scroll;
/* scrollbar-width: none; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* scrollbar anuncios  */

.anuncios::-webkit-scrollbar {
  width: 16px;
}

.anuncios::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 30px;
  margin: 2px;
}

.anuncios::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 30px;
  border: 4px solid var(--gris);
}

/* prueba  */

.card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.1);
  padding: 15px 40px;
  /* max-width: 600px; */
  margin: 0 24px 0 40px;
  /* margin: auto; */
}

.card-header {
  display: flex;
  align-items: center; 
  gap: 15px;
  justify-content: space-between;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-info {
  flex-grow: 1;
}

.user-info p {
  margin: 0;
  font-weight: 600;
}

.user-info span {
  color: #777;
  font-size: 14px;
}

.elipsis {
  display: flex;
    justify-items: center;
    align-items: center;
    width: 5px;
    /* height: 20px; */
    fill: black;
}

.card-body p {
  margin: 20px 0;
  line-height: 1.5;
  color: #333;
}

.image-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding-bottom: 10px;
}

.image-row img {
  width: 100%;
  aspect-ratio: 16 / 9; /* Puedes ajustar a 4/3 o quitar si prefieres */
  object-fit: cover;
  border-radius: 10px;
}




/* seccion 2 derecha */
.section2{
    /* background-color: lightblue; */
    width: 33.33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px ;
}

/* Reportes */
.reportes {
  /* background-color: pink; */
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center; 
  gap: 20px;
  height: 20%;
  font-size: large;
}

.reportes p {
  margin: 0;
  color: var(--azul);
  text-align: left;
}

.boton-reporte {
  margin-top: 0.5rem;
  background-color: #f8a71b; /* color naranja del botón */
  color: white;
  border: none;
  /* margin: auto; */
  /* width: fit-content; */
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 14px;
  cursor: pointer;
}

.boton-reporte:hover {
  background-color: #e6950c;
}

/* Noticias */
.noticias {
  /* background-color: yellow; */
  overflow-y: scroll;
  /* padding: 1rem; */
  height: 40%;
  display: flex; 
  flex-direction: column;
  gap: 10px;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}

.noticias::-webkit-scrollbar {
  width: 16px;
}

.noticias::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 30px;
  margin: 2px;
}

.noticias::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 30px;
  border: 4px solid var(--gris);
}

.noticias h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 100;
  color: var(--azul);
  margin-bottom: 0.8rem;
}

.noticia {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--blanco);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border: 0;
}

.noticia img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
}

.noticia-info {
  display: flex;
  height: 100%;
  padding: 10px;
  flex-direction: column;
    justify-content: space-between;
  flex-grow: 1;
}

.noticia-info .fecha-hora {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.noticia .titulo {
  margin: 0;
  text-align: left;
  font-size: 13px;
  font-weight: 900;
  color: var(--azul);
}

.noticia .fecha,
.noticia .hora {
  font-size: 10px;
  color: #999;
  margin-right: 4px;
}

/* Promociones */
.promociones {
    /* background-color: wheat; */
  overflow-y: scroll;
  flex: 1;
  padding: 0 0 40px 0;
  /* padding: 1rem; */
  height: 40%;
  display: flex; 
  flex-direction: column;
  gap: 10px;
}

.promociones::-webkit-scrollbar {
  width: 16px;
}

.promociones::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 30px;
  margin: 2px;
}

.promociones::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 30px;
  border: 4px solid var(--gris);
}

.promocion {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--blanco);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border: 0;
}

.promocion img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  object-fit: cover;
}

.promocion-info {
  display: flex;
  height: 100%;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.promocion .titulo {
  margin: 0;
  font-size: 13px;
  font-weight: 900;
  color: var(--azul);
}

.promocion .categoria {
  display: block;
  font-size: 10px;
  color: #999;
}

.promocion .precio {
  font-size: 12px;
  font-weight: bold;
  color: #f8a71b;
}

/* fin seccion 2  */


/* sweetalert crear anuncio */
.custum-file-upload {
    margin: auto;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  transition: background-color 0.3s, border-color 0.3s;
}

.custum-file-upload:hover {
  background-color: rgba(240, 242, 245, 1);
  border-color: #b0b0b0;
}
.custum-file-upload.dragover {
  background-color: #e6f0ff;
  border-color: #357ae8;
}
.custum-file-upload .icon-upload {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custum-file-upload .icon-upload svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}
.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}
.custum-file-upload input {
  display: none;
}
